---
clouds:
 de-1:
   auth:
     username: YOUR_USERNAME
     password: YOUR_PASSWORD
     project_name: YOUR_PROJECTNAME
     auth_url: https://de-1.betacloud.io:5000/v3
     project_domain_name: YOUR_DOMAINNAME
     user_domain_name: YOUR_DOMAINNAME
   identity_api_version: 3
   region_name: de-1
