os-client-config
oslo.config
oslo.log
python-cinderclient
python-glanceclient
python-keystoneclient
python-neutronclient
python-novaclient
shade
tabulate
python-dateutil
jinja2
requests
sqlalchemy
pymysql
