jinja2
python-openstacksdk
os-client-config
oslo.config
oslo.log
pymysql
python-cinderclient
python-dateutil
python-glanceclient
python-keystoneclient
python-neutronclient
python-novaclient
requests
shade
sqlalchemy
tabulate
